@import './base/common.css';
@import './base/container.css';
@import './utils/visually-hidden.css';
@import './layout/header.css';
@import './layout/section-main.css';
@import './layout/section-benefits.css';
/* #region section team */
.section.team{
  background: var(--cloud, #F4F4FD);
  padding: 120px 0;
}

.section-team{
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}
.section-team-list{
  background-color:#FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-team-photo-content{
  padding: 32px 0;
}
.section-team-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue, #2E2F42);
  margin: 0 0 72px 0;

}
.section-team-photo-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--navyblue, #2E2F42);
  margin-bottom: 8px;
  margin-top: 0;
}
.section-team-photo-text{
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.section-team-photo-svg{

  fill: var(--IRIS, #f4f4fd);
}
.section-team-photo-social{
  display: flex;
  fill: var(--IRIS, #4D5AE5);
  gap: 24px;
  padding: 0 16px;
  margin-top: 8px;
  justify-content: center;
}
.section-team-photo-social-links{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-photo-social-links:hover, .section-team-photo-social-links:focus{
  background-color: #404BBF;
}
/* #endregion */
/* #region section portfolio */
.section.portfolio{
  padding: 120px 0 120px 0;
}
.section-portfolio-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue, #2E2F42);
  margin: 0 0 72px 0;
}
.section-portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}
.section-portfolio-photo-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue, #2E2F42);
  margin-bottom: 8px;
  margin-top: 0;
}
.section-portfolio-photo-text{
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
}
.section-portfolio-list-content{
  width: calc((100% - 48px) / 3); 
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-list-content-box{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  background: var(--IRIS, #4D5AE5);
  margin-top: 0;
  padding: 40px 32px;
  color: var(--CLOUD, #F4F4FD);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-list-content:hover,
.section-portfolio-list-content:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-portfolio-list-content:hover .overlay, .section-portfolio-list-content:focus .overlay{
  transform: translateY(0);
}

div.footer-box{
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;

}
/* #endregion */
/* #region footer */
footer{
  background: var(--navyblue, #2E2F42);
  padding: 100px 0;
}
footer .container{
  display: flex;
  align-items: baseline;
}
.footer-logo{
  display: inline-block;
  color: var(--iris, #4D5AE5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-logo-part{
  color: var(--cloud, #F4F4FD);
}
.footer-text{
  color: var(--cloud, #F4F4FD);
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  margin: 0;
}
.social-media{
  margin-left: 120px;
}
.footer-social-paragr{
  margin: 0;
  margin-bottom: 16px;
  color: var(--WHITE, #FFF);
  font-weight: 500;
  line-height:1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
}
.footer-content{
  display: flex;
  align-items: self-start;
  margin: 0;
  padding: 0;
}
.footer-list-media{
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}
.footer-svg{
  fill:#f4f4fd;
}
.footer-social-links{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover, .footer-social-links:focus{
  background-color: var(--GREEN, #31D0AA);
}
.footer-logo-box{
  margin-right: 120px
}
.footer-container-form{
  margin: 0 0 0 80px;
  display: flex;
  flex-direction: column;

}

.footer-form-subscribe{  
  display: flex;
  gap: 24px;
}
.footer-subscribe{
  color: #fff;
  font-weight: 500;
  margin: 0 0 16px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-input{
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  padding: 8px 0 8px 16px;
}
.footer-input::placeholder{
  color: var(--WHITE, #ffffff);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-button{
  padding: 8px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  border-radius: 4px;
  background: var(--IRIS, #4D5AE5);
  border: none;
  color: #FFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
} 
.footer-subscribe-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
/* #endregion */
/* #region backdrop */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-menu
{
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  border-radius: 4px;
  background: var(--DAIRY, #FCFCFC);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-menu-close{
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.modal-menu-close-svg{
  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-close:focus, .modal-menu-close:hover{
  background-color:#404BBF;
  border:none;  
  fill: #ffffff;
}

.modal-menu-form-description{
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  margin: 0 0 16px 0;
}
.modal-menu-form-container{
  margin-bottom: 8px;
}
.modal-menu-form-label{
  color: var(--LIGHT-SLATE, #8E8F99);
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.modal-menu-form-input{
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.modal-menu-form-input:focus{
  border: 1px solid #4D5AE5;
  outline: transparent;
}
.modal-menu-form-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-form-input:focus + .modal-menu-form-icon{
  fill: #4D5AE5;
}
.modal-menu-form-container-textarea{
  margin-bottom: 16px;
}
.modal-menu-form-textarea{
  display: block;
  width:100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  background-color: transparent; 
  outline: transparent;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.modal-menu-form-textarea::placeholder{
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-menu-form-textarea:focus{
  outline: transparent;
  border:1px solid #4D5AE5;
}
.modal-menu-container{
  position: relative;
}
.modal-menu-form-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.modal-menu-form-label-checkbox{
  color: var(--LIGHT-SLATE, #8E8F99);
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
}
.modal-menu-container-checkbox{
  margin-bottom: 24px;
}
.privacy-policy{
  color: var(--IRIS, #4D5AE5);
  line-height: 1.33;
  text-decoration-line: underline;
}

.modal-menu-input-checkbox-own{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-menu-input-checkbox:checked + .modal-menu-form-label-checkbox > .modal-menu-input-checkbox-own{
  background-color: #404BBF;
  border: none;
  fill:#F4F4FD;
}
.modal-menu-input-checkbox:focus + .modal-menu-form-label-checkbox > .modal-menu-input-checkbox-own{
  outline:1px solid #4D5AE5;
}
.modal-menu-button{
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background: var(--IRIS, #4D5AE5);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  color: var(--WHITE, #FFF);
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-button:hover, .modal-menu-button:focus{
  background-color:#404BBF;
}


/* #endregion */